.drag-drop:before {
  display: none;
}

.cat1, .cat2, .cat3, .cat3_1, .cat3_2, .cat3_3 {
  display: none;
}
.cat1.default-shown, .cat2.default-shown, .cat3.default-shown, .cat3_1.default-shown, .cat3_2.default-shown, .cat3_3.default-shown {
  display: block;
}

.type2 {
  display: none;
}
