.datepicker {
	position: relative;
	input {
		min-width: 205px;
		background: none;
		border: none;
		outline: none;
		z-index: 1;
	}
	&__icon {
		position: absolute;
		left: 180px;
		width: 24px;
		height: 24px;
		background: #5971E9;
		border-radius: 4px;
	}
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
	background: #5971E9;
	border-color: #5971E9;
	//z-index: 1;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
	-webkit-box-shadow: -10px 0 0 #5971E9;
	box-shadow: -10px 0 0 #5971E9;
	//box-shadow: none;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
	//border-radius: 50px;
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
	//border-radius: 50px;
}

.flatpickr-day.inRange {
	//box-shadow: -17px 0 0 #e6e6e6, 20px 0 0 #e6e6e6;
}

.flatpickr-current-month {
	font-family: Gilroy, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 14px;
	color: #5971E9;
}

.flatpickr-current-month span.cur-month {
	font-weight: 300;
}

.flatpickr-months {
	position: relative;
}

.flatpickr-next-month, .flatpickr-prev-month {
	width: 19px;
	height: 19px !important;
	background: #5971E9;
	border-radius: 4px;
	top: 50% !important;
	transform: translate(0, -50%);
	&::before {
		content: '';
		width: 11px;
		height: 11px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("../images/dist/icons/arrow-datepicker.svg") no-repeat;
	}
}

.flatpickr-next-month {
	right: 6px !important;
	&::before {
		transform: rotate(-180deg) translate(50%, 50%);
	}
}

.flatpickr-prev-month {
	left: 6px !important;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
	display: none;
}

//#monthpicker {
//	background: #EAEDF3;
//	border-radius: 4px;
//	max-width: 690px;
//	width: 100%;
//	border: none;
//	text-align: center;
//	outline: none;
//}

.flatpickr-calendar.flatpickr-monthSelect-theme-dark {
	width: 100%;
	max-width: 690px;
	.flatpickr-rContainer,
	.flatpickr-monthSelect-months {
		max-width: 690px;
		width: 100%;
	}
	.flatpickr-monthSelect-months {
		display: flex;
		justify-content: space-between;
		padding: 0 7px;
		span {
			cursor: pointer;
			font-size: 16px;
		}
	}
}

