.header {
	background: #333334;
	padding: 17px 20px;
	@include media-max(991) {
		justify-content: space-between;
	}
	&__logo {
		margin-right: 224px;
		width: fit-content;
		@include media-max(991) {
			margin-right: 0;
		}
		img {}
		span {
			margin-left: 14px;
			//font-weight: 800;
			font-size: 20px;
			line-height: 20px;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
	&__buttons {
		gap: 23px;
	}
}