.drag-drop:before {
    display: none;
}

.cat1, .cat2 {
    display: none;

    &.default-shown {
        display: block;
    }
}

//.drag-drop__dragndrop, .drag-drop__error, .drag-drop__file, .drag-drop__success, .drag-drop__uploading {
//    display: block;
//}
